*{
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}
nav{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
     height:5rem ;
}

nav input{
    width: 40rem;
    height: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    font-size: 16px;
}

nav h4{
    font-weight: 200;
        margin-top: 18px;

}

nav img{
    width: 9rem;
    height:3rem;

}

p{
        margin-top: 10px;

}

.search {
    font-size:2rem;
    border-right: 2px solid black;
    text-align: center;



}

nav div {
    border: 2px solid black;
    height: 3rem;
    margin-top: 10px;
}

.user {
    font-size: 1.5rem;
}

.cart {
    font-size: 1.5rem;
}

.navIteam ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
    margin: 5px;
    background-color: white;
}


.banner img{
    width: 100%;
}

.imgText {
    color:white;
     z-index: 2;
      text-align: end;
      margin-top :-280px;
      margin-right:100px;
      font-size: 40px;
      font-weight: 800;

}

.imgText button {
    width: 200px;
    height: 70px;
    font-size: 35px;
    margin-top: 10px;
    margin-right: 85px;
    border-radius: 10px;
    border: 0;
}





.outer{
    width: 100%;
    height: 60px;
    margin-top: 87px;
    background-color: rgb(253, 238, 250);
    padding-top:2px;
}

.inner{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: white;
    width: 90%;
    margin: 50px;
    margin-top: 15px;
    padding: auto;
    border-radius: 2px;

}

.inner p {
    text-align: center;
    font-size: 20px;
    height: 30px;
    margin:auto ;
}


.outlet{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.outletImg p {
    text-align: center;
}

.outletImg:hover{
 
    cursor: pointer;
    scale: 1.1;

}

.banner2 img {
    margin-top: 15px;
    width:100%;
}

.banner2ImgOne{
    width: 10rem;
    position:end;
    margin-left: 1000px;
    margin-top: -500px;
    display: flex;
    flex-direction: row;  
    cursor: pointer; 
}


.bannerimg1:hover{
scale: 1.1;
}



.bannerimg2{
    margin-left: 60px;
}

.bannerimg2:hover{
    scale: 1.1;
}


.banner2ImgTwo{
    width: 10rem;
     position:end;
    margin-left: 1000px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;  
    cursor: pointer; 

}

.bannerimg4{
    margin-left: 60px;
     
}

.bannerimg4:hover{
    scale: 1.1;
}

.bannerimg3:hover{
    scale:1.1;
}

.banner2 button {
    width: 180px;
    height: 50px;
    background-color:rgb(63, 31, 17);;
    border: 2px solid rgb(255, 209, 130);
    color: rgb(255, 209, 130);
    font-size: 30px;
    margin-left: 300px;
    margin-top:-450px;
    border-radius: 20px;
    position: relative;

}

#orginalBrandHeading{
    margin: 80px;
    font-size: 50px;
    font-weight: 100;
}

#orginalBrandHeading i {
    color: rgb(52, 47, 156);
}