<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/post.css">
    <title>Document</title>
</head>
<body>
     <div class="sideBoxRight">
      
    <div class="sideBoxInnerRight">

          <img src="https://i.pinimg.com/originals/2b/fc/00/2bfc004f2f1a0d6214a64175362a73c5.jpg" alt="advertisement" class="advertisement">
          
          <br>
          <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/b38169173080263.648a125a2c79a.jpg" alt="advertisement" class="advertisement">
   </div>

 </div>

</body>
</html>