<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/post.css"/>
</head>
<body>
    
 <div class="sideBox">

    <div class="sideBoxInner">
    <ul>
     <button>+ Create Space</button>
        <li>Writting</li>
        <li>Education</li>
         <li>Books</li>
                  <li>Pshycology</li>

         <li>Movies</li>
         <li>Technology</li>
    </ul>
 
  <hr>

  <p>About QuoraTermsPrivacyAcceptable <br> UseAdvertiseYour
     Ad ChoicesGrievance<br> OfficerCareersPress Company</p>
</div>

</div>
    
</body>
</html>