*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(12, 16, 20);
    color: white;
}

a{
    text-decoration: none;
}


nav{
    display: flex;
    flex-direction: row;

}


.webName h3{
    font-size: 25px;
    margin:10px 0 10px 350px ;

}

.navbutton{
        margin-left: auto;
        margin-right: 40px;
        margin-top: 10px;
        margin-bottom: 10px;

}




.navbutton  button {
    background-color:#4A5DF9;
    color: white;
    border: 0; 
    border-radius: 10px;
    padding: 10px;
            cursor: pointer;



}
.navbutton a {
    margin-left:5px;
}



.userInfo{
    display: flex;
}

.userImg{
margin-top: 100px;
margin-left: 350px;      
border-radius: 50%;

}

.userId{
 margin-left: 20px;
 margin-top: 130px;
 font-size: 20px;


}

.userData{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    position:relative;
    margin-left:500px;
    top:-80px;
}


.userData h4 {
    display: flex;
}

.userData p {
    color: rgb(67, 66, 66);
}

.userBio{

    left: 530px;
    position:relative;
    top: -60px;
}

.extraInfo{
    width: 800px;
    border:4px solid white;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding: 50px 50px;
}
