*{
    margin:0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

.userPost{
      background-color:#262626;
    margin-top: 10px;
    position: relative;
    width: 52%;
    height: 320px;
    margin-left: 400px;
    border-radius:20px ;
}


.authorId{
    position: absolute;
    right:10px ;
    font-size: 12px;
    margin-bottom: 5px;
    
}


.hastag{
    position: absolute;
    right: 0;
     bottom: 1px;
     margin-right: 12px;
     font-size: 10px;

}

.userPost i {
    display: inline;
}

.userPost img {
    height: 200px;
    width: 97%;
    margin: 10px;
    border-radius: 20px;
}


.sideBox{
    
    width: 25%;
    height: 500px;
    margin-left: 15xpx;
    padding-right: 15px;
    gap: 10px;
    margin-top:100px;
    position:fixed;
    justify-content: center;
    align-items: center;



}

hr{
    border: none;
    border-top: 1px solid #262626;
    width: 220px;
    margin-left: 110px;
}

.sideBox i {
    list-style: none;
}

.sideBoxInner{
    height:450px;
    margin: 10px;
    
    
}


  .sideBoxInner button {
    
    margin-left: 200px;
    margin-top: 10px;
    background-color: #1c1b1b;
    color: white;
    padding: 10px;
    width: 150px;
    border: none;
  }

.sideBoxInner li {
    list-style:none;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 25px;
    font-size: 16px;

}

.sideBoxInner p {
     position: absolute;
     left: 90px;
     font-size: 14px;
     margin-top: 10px;
}



.headertitle{
    text-align: center;
}


.sideBoxRight{
    width: 250px;
    height: 500px;
    position: fixed;
    right: 0;  
    top:100px;
margin: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.sideBoxInnerRight{

        background-color:#262626;

    height: 400px;
    width: 200px;

}

.advertisement{
    width: 180px;
     height: 180px;
     margin: 10px;
}


.postButton{
    display: flex;
    margin-top: 10px;
}


.userPostDescription{
    text-align: center;
}